tgTokenFile: /.tgtoken
adminId: 0            # telegram user id, куда notify шлёт сообщения
modules:
  simpleReply:
    url: "http://simpleReply:8080"
  skazka:
    url: "http://skazka:8080"
  "sber":
    url: "http://sber:8080"
  "aiAnswer":
    url: "http://aiAnswer:8080"