version: '3.8'
services:
  engine:
    build: .
    image: calarbot2:latest
    command: ["/engine"]
    volumes:
      - /opt/calarbot/calarbot.yaml:/calarbot.yaml
      - /opt/calarbot/tokens/.tgtoken:/.tgtoken

  simpleReply:
    build: .
    image: calarbot2:latest
    command: ["/simpleReply"]
    ports:
      - "8080:8080"
    environment:
      - MODULE_PORT=8080
      - MODULE_ORDER=1000

  skazka:
    build: .
    image: calarbot2:latest
    command: ["/skazka"]
    ports:
      - "8081:8080"
    environment:
      - MODULE_PORT=8080
      - MODULE_ORDER=100
    volumes:
      - /opt/calarbot/tokens/.tgtoken:/.tgtoken

  sberify-service:
    build: ./sberify-service
    image: sberify-service:latest
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
    restart: always

  sber:
    build: .
    image: calarbot2:latest
    command: ["/sber"]
    ports:
      - "8082:8080"
    environment:
      - MODULE_PORT=8080
      - MODULE_ORDER=500
      - SBERIFY_URL=http://sberify-service:5000/sberify
    depends_on:
      - sberify-service

  aiAnswer:
    build: .
    image: calarbot2:latest
    command: ["/aiAnswer"]
    ports:
      - "8083:8080"
    environment:
      - MODULE_PORT=8080
      - MODULE_ORDER=100
    volumes:
      - /opt/calarbot/tokens/aiConfig.yaml:/aiConfig.yaml
